<div class="container">
  <div class="row">
    <div class="col">
      <div class="table-responsive mt-5">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Material</th>
              <th>Trade</th>
              <th>Cost code</th>
              <th>Price</th>
              <th>Active</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let construction of list$ | async">
                <td>{{construction.id}}</td>
                <td>{{construction.material}}</td>
                <td>{{construction.trade}}</td>
                <td>{{construction.cost_code}}</td>
                <td>{{construction.price}}</td>
                <td>{{construction.active}}</td>
                <td><button (click)="onDelete(construction)"  class="btn btn-danger btn-small"> <i class="fa fa-trash"></i> delete</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
